<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Header</title>
</head>

<body>
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu"
     th:fragment="sidebar-menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-users"></i> Users <span
                    class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a th:href="@{/}">Gestión de usuarios</a></li>

                </ul>
            </li>

        </ul>
    </div>


</div>
</body>
</html>